<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Home</title>
</head>
<body>
<main>
    <section layout:fragment="body">
        <div class="main">
            <img class="img-fluid" src="https://www.continental-tires.com/adobe/dynamicmedia/deliver/dm-aid--23f970df-0610-4e74-bcc5-f3f0a6b30330/co-threewomenrunning-image-en-plt.jpg?preferwebp=true&width=2000&crop=22.3p,9.9p,67.6p,80.1p&quality=85">
        </div>
    </section>
</main>
</body>
</html>